body {
    background-image: url(Imagens/thumb-1920-1146974.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#CaixaMãe {
    width: 1000px;
    height: 400px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#CaixaFilho1 {
    width: 20%;
    height: 20%;
    background-color: aquamarine;
    margin-top: 50px;
}

#CaixaFilho2 {
    width: 20%;
    height: 20%;
    background-color: rgb(43, 7, 203);
}